




<div class="container jumbotron" id="center-div">

<div class="row justify-content-md-center">
<h1>Edit your profile</h1>
</div>

<%= render "student_errors" %>

<%= render "student_form" %>


</div>
</div>
