<div class="container jumbotron" id="center-div">

<div class="row justify-content-md-center">
<h1>Create a new user!</h1>
</div>

<%= render "student_errors" %>

<%= render "student_form" %>

<div class="row justify-content-md-center" id= "toppad">
  <span>Already have an account?  <%= link_to "Login", login_path %></span>
</div>
</div>
</div>
