<h1>All Instructors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Avg Class Rating</th>
  </tr>
  <% @instructor.each do |inst| %>
    <tr>
      <td><%= link_to inst.name, inst %></td>
      <% if inst.rating %>
      <td><%= inst.rating.round(2) %></td>
    <% else %>
      <td>--</td>
      <% end %>
    </tr>
  <% end %>
</table>

<hr>
<%= link_to "Create New Instructor", new_instructor_path %>
