<h1>All Instructors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Avg Class Rating</th>
  </tr>
  <% @instructor.each do |inst| %>
    <tr>
      <td><%= link_to inst.name, inst %></td>
      <td><%= inst.rating %></td>
    </tr>
  <% end %>
</table>
