<div class="container jumbotron" id="center-div">

  <div class="row justify-content-md-center">
<h1>Create New Subject</h1>

<%= render 'shared/errors', input: @subject %>
<%= render 'subject_form', input: @subject %>

</div>
</div>
