<div class="container table-responsive">



<h1><%= @subject.name %></h1>

<% if @subject.klasses.length != 0 %>
  <%= render 'subject_list' %>
<% else %>
  There are no classes for this subject<br>
  <%= link_to "Create one now!", new_klass_path %>
<% end %><p></p>

<span class="btn btn-light btn-md">
  <%= link_to "All Subjects", subjects_path %>
  </span>
</div>
