/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cantarell|Flamenco|Griffy');


.container .jumbotron{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;
}

#toppad{
  margin-top: 2rem ;
}
#center-div {
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 30rem;
}
#padleft{
  padding-left: 1rem
}

.errorcolor{
  text-decoration-color: red;
}

// homepage
.badge a {
  color: #f8f9fa;
}

img {
  width:100%;
  border-radius: 1em;
}

// application layout
.navbar-brand {
  font-family: 'Griffy', cursive;
  font-size: 2em;
}

h1, h2, h3 {
  font-family: 'Flamenco', cursive;
  font-weight: bold;
  color: #fed700;
  text-shadow: 2px 2px 4px #000000;

}

.list-group-item {
  background-color: #ffffffb3;
}

#index-tables {
  background-color: #ffffff63;
  width: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  justify-content: center;
  border-radius: 1em;
  border-top: none;
}

.review_form {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
    background-color: #ffffffb3;
    padding: 0.75rem 1.25rem;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-color: rgba(0, 0, 0, 0.125);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.125);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-sizing: border-box;
    width: 60%;
    color: #495057;
    text-align: inherit;
}

#klass-table {
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
}

body {
  font-family: 'Cantarell', sans-serif;
  background-image: url("http://www.itaniumsolutions.org/pics/max/49/495181_reset-wallpaper.png");
  background-size: 100%;
  background-attachment: fixed;
}
